<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="updatePassword">密码修改</a>
        </script>

    </div>
</div>

<script>
    layui.use(['form', 'table','miniPage','element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            miniPage = layui.miniPage;
         window.reload=function(){
             table.reload('currentTableId');
         }

        table.render({
            elem: '#currentTableId',
            url: 'user/queryUserAll2',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [[
                {type: "checkbox", width: 50},
                // {field: 'id', width: 80, title: 'ID', sort: true},
                {field: 'username', width: 100, title: '登录名'},
                {field: 'realname', width: 120, title: '真实名称'},
                {field: 'sex', width: 80, title: '性别'},
                {templet:'<div>{{ d.deptInfo.name}}</div>' ,width: 150, title: '所在结构'},
                {field: 'roleName', width: 80, title: '角色', sort: true},
                {field: 'tel', width: 100, title: '电话'},
                {field: 'email', width: 120, title: '邮箱'},
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
            ]],
            skin: 'line'
        });




        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        /**
         * 设置form中的值信息
         */
        function setValues(data){
           form.val("updateBtn",{
               "id":data.id,
               "username":data.username,
               "roleName":data.roleName,
               "realname":data.realname,
               "sex":data.sex,
               "tel":data.tel,
               "email":data.email,
               "deptId":data.deptId,
               "roleId":data.roleName
           });
        }

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                var content = miniPage.getHrefContent('page/other/update.html');
                var openWH = miniPage.getOpenWidthHeight();
                var index = layer.open({
                    title: '编辑用户',
                    type: 1,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: [openWH[0] + 'px', openWH[1] + 'px'],
                    offset: [openWH[2] + 'px', openWH[3] + 'px'],
                    content: content,
                });
                setValues(data);
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'updatePassword') {
                layer.confirm('确认修改密码吗？', function (index) {
                    var content = miniPage.getHrefContent('page/other/updatePwd.html');
                    var index = layer.open({
                        title: '修改密码',
                        type: 1,
                        shade: 0.2,
                        maxmin:true,
                        shadeClose: true,
                        area: ['45%', '45%'],
                        content: content,
                    });
                    $("#id").val(data.id);
                    $(window).on("resize", function () {
                        layer.full(index);
                    });
                    return false;

                });
            }
        });

    });
</script>